* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#image-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
}

#image-list li {
    list-style: none;
    width: 200px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#image-list img {
    width: 100%;
}